@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    padding: 3% 10%;   
    font-size: 15px;
    font-family: inter;
}
.container{
    width: 100%;
    font-family: inter;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10%;
}
.primary-navigation{
    display: flex;
    gap: 2rem;

}
.primary-navigation li {
    list-style: none;
}
.primary-navigation a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    color: hsl(236, 13%, 42%);
}
.primary-navigation a:active{
    color: hsl(5, 85%, 63%);
}

.hero{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    
    
}
 .hero-1{
    width: 100%;
    height: 70%;
    display: flex;
    gap: 1rem;
    padding: 10px;
   
}
.hero-_01{
    width: 75%;
    
    display: flex;
    flex-direction: column;
    
}
.img___hero-01{
    background-image: url(./assets/images/image-web-3-desktop.jpg);
    width: 100%;
    height: 55%;
    object-fit: contain;
    background-size: 100% 100%;

}
.text___01{
    width: 100%;
    height: 45%;
    background-color: #fff;
    display: flex;
    gap: 2rem;
}
.text___01 h2{
    width: 50%;
    font-size: 3.7rem;
    height: 100%;
    padding-top: 10px;
    font-weight: 800;
    
}
.text___01 .info__{
    width: 60%;
    
  
}
.text___01 .info__ p{
 width: 100%;
 padding: 15px;
 font-size: 1.3rem;
 color: hsl(236, 13%, 42%);
}
.text___01 .info__ a{
    padding: 15px 30px;
    background-color: hsl(5, 85%, 63%);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 6px;
    position: relative;
    top: 30px;
   
}
.text___01 .info__ a:active{
    background-color: hsl(240, 100%, 5%);
}
.hero-_02{
    width: 25%;
    height: 100%;
    background-color: hsl(240, 100%, 5%);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.columns__02 {
    width: 100%;
    padding: 20px;
}
.columns__02 p{
    font-size: 12px;
}
.columns__02 a{
    text-decoration: none;
    color: #fff;
}
.columns__02 a:hover{
    color: hsl(35, 77%, 62%);
}
.header__02{
    width: 100%;
}
.header__02 h3{
    font-size: 2rem;
    color: hsl(35, 77%, 62%);
    padding: 20px;
}
hr{
    width: 80%;
    background-color: hsl(233, 8%, 79%);
    border: none;
    height: .5px;
    position: relative;
    opacity: 80%;
    left: 8%;
}
.hero-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}
.row---3 {
    width: 25%;
    display: flex;
    height: 100%;
    

}
.row---3 img {
 width: 100px;   
}
.row---3 .text--3{
    padding-left: 12px;
    
    display: flex;
    flex-direction: column;
    justify-content:space-between;
   
    
}
.row---3 .text--3 span{
    color: hsl(233, 8%, 79%);
    font-size: 2rem;
    font-weight: 700;
   
}
.row---3 .text--3 h4 a{
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    
}
.row---3 .text--3 h4 a:active{
    color: hsl(5, 85%, 63%);
}
.row---3 .text--3 p{
    color: hsl(236, 13%, 42%);
    font-size: 15px;
    
}
@media (max-width:55em){
  
    .primary-navigation{
        position: fixed;
        gap: 2em;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        inset: 0 0 0 30%;
        background-color: #fff;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    body{
        overflow-x: hidden;
    }
    .mobile-nav-toggle{
        position: absolute;
        background: url('./assets/images/icon-menu.svg');
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
       display: block;
        
        aspect-ratio: 1;
        
        top: 2rem;
        right: 2.5rem;
        position: fixed;
       
        z-index: 9999;
     
    }
   
    .img___hero-01{
        background-image: url(./assets/images/image-web-3-mobile.jpg);
        height: 300px;
        width: 100%;
    }
    .hero-1{
        gap: 0;
        flex-direction: column;
    }
    .text___01{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 320px;
        gap: 0;
    }
    .text___01 h2{
        width: 100%;
        height: 250px;
        font-size: 42px;
    }
    .text___01 .info__ {
        width: 100%;
    }
    .text___01 .info__ p{
       padding: 0;
        font-size: 20px;
        line-height: 34px;
    }
    .hero-_01{
        width: 100%;
        height: 800px;
    }
    .hero-_02{
       
       width: 330px;
    }
    .hero-2{
       flex-direction: column;
       align-items: start;
       gap: 2rem;
    }
    .row---3{
        width: 100%;
    }
    
}
@media (max-width:320px){
    .hero{
        width: 320px;
    }
    .hero-_02{
        width: 280px;
    }
    .img___hero-01{
        width: 275px;
    }
    .text___01 h2{
        font-size: 37px;
    }
    .text___01 .info__ p{
        font-size: 16px;
        line-height: 28px;
    }
    .row---3 img{
        width: 85px;
    }

}
@media (max-width:375px){
    .hero-_02{
        width: 285px;
    }
    .text___01 h2{
        font-size: 37px;
    }
    .text___01 .info__ p{
        font-size: 17px;
        line-height: 27px;
    }

}
